<div class="river">
  <ul>
    <% if current_user %>
      <li class="new-post group">
        <form action="/posts" method="post">
          <div class="input textarea text">
            <textarea name="post[text]" class="post-text-input" rows="3"></textarea>
          </div>
          <button class="btn btn-primary pull-right" type="submit">Post</button>
        </form>
      </li>
    <% end %>
    <%= erb :_post_header %>
    <% @posts.each do |post| %>
      <li>
        <div class="post-text"><%= auto_link post.text %></div>
        <div class="post-info">
          <% if post.published? %>
            <i class="icon icon-time"></i>
            <a href="/posts/<%= post.id %>">
              <%= post.published_at.strftime('%A, %B %-d &mdash; %-I:%M%P') %>
            </a>
          <% else %>
            Draft
            <!-- &mdash; <a href="/posts/<%= post.id %>/publish" data-method="post">Post</a> %> -->
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
